html,body {
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,
    #e6dada,
    #274046 );

}

header {
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.add-button {
    font-size: 1.5rem;
    background-color: lightblue;
    border-radius: 15px;
    margin: 0.5rem;
}


.clear-button {
    font-size: 1.5rem;
    background-color:red;
    border-radius: 15px;
    margin: 0.5rem;
}

#userInput {font-size: 1.5rem;
            border-radius: 15px;
            text-align: center;
}

input[type=text] {

    font-size: 1.5rem ;
    transition: ease-in-out, width .35s ease-in-out;
    text-transform: capitalize;
  }



#list-container {
                list-style-type: none;
    
}

li {
    font-size: 2rem;
    padding: 10px;
    text-transform: capitalize;
    
}

li button {
    background-color: seagreen;
    margin-left: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
}